.wrapper {
  width: 100%;
  text-align: right;
}

.input {
  display: inline-block !important;
}

button {
  margin-left: 10px !important;
  height: 40px !important;
  color: #fff !important;
  background-color: rgba(210, 80, 75, 0.90) !important;
}
